body {
    font-family: serif;
    color: white;
    background-color: black;
}

a {
    color: #F9FAF8;
}

ul {
    list-style: none;
    
}

h1 {
    color: green;
}

.header {
    font-size: 25px;
    margin-left: 175px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: green;
}

.sidebar {
    flex-shrink: 0;
}

.page {
    display: flex;
    gap: 30px;
}

.body {
    margin-left: 20px;
}

.bodyheading {
    font-size: 40px;
    margin-bottom: 20px;
}

.filmmakers {
    display: flex;
    gap: 12px;
}
